@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-white font-sans overflow-x-hidden;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-cartoon;
}
